[submodule "characters"]
	path = characters
	url = https://github.com/elizaos/characters
[submodule "packages/plugin-rabbi-trader"]
  path = packages/plugin-rabbi-trader
  url = https://github.com/elizaos-plugins/plugin-rabbi-trader.git